# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
# .directory
*~

# npm
node_modules/
*.log
*.gz
yarn.lock

# VCS
.git
.svn
.gitignore

# source
lib/
/tsconfig.json
.babelrc

# test & etc.
src/
outputs/
/index.js
